html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
 }
 
 .cards {
    display: flex;
    border-color: blue;
 }
 
 .card {
    max-width: 500px;
    z-index: 1;
    border-radius: 1rem;
    background:#f2f5f8;
    box-shadow: 4px 4px 12px 2px gray;
    transition: 0.2s;
    padding-left: 2rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
 }
 
 p {
    font-family: Arial;
 }
 .p1 {
   margin-left: 15px;
   font-family: 'Merienda';
   font-size: medium;
   color: #1b033f;
 }
 
 img {
    max-height: 100px;
    height: 60%;
    width: auto;
 }
 
 .intro {
    width: 100%;
    background-color: rgb(144, 161, 161) !important;
 }
 
 h3 {
    margin-left: 15px;
    font-family: Arial;
 }
 
 .span1 {
    font-family: Courier;
    font-size: 22px;
    color: brown;
 }
 
 .span2 {
    font-family: helvetica;
    font-size: 18px;
    font-weight: lighter;
    color: blue;
 }

 .span3 {
   font-family: Courier;
   font-size: 22px;
   font-weight: lighter;
   color: white;
}
 
 h3 span {
    font-size: 12px;
    font-weight: lighter;
 }
 
 .stack {
    color: teal;
 }
 
 
 .card:not(:first-child) {
    margin-left: calc((8rem)*-1);
 }
 
 .card:hover,
 .card:focus-within {
    transform: translatey(-1rem);
 }
 
 .card:hover~.card,
 .card:focus-within~.card {
    transform: translatex(8rem);
 }
 
 .fastack {
    margin-left: -1rem;
 }
 
 .img {
   margin-left: 30px;
   max-height: 400px !important;
   height: 60%;
   width: auto;
 }

 .div2 {
   margin-left: 30px;
 }