/* videos.module.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
    margin-top: 20px;
  }
  
  .listContainer {
    margin-bottom: 20px;
    margin-left: 20px; /* Add margin to align with video player */
  }
  
  .videoList {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .videoList li {
    cursor: pointer;
    padding: 5px;
    border: 1px solid #ccc; /* Border for all list items */
  }
  
  .videoList li:hover {
    background-color: #f0f0f0;
  }
  
  /* Style for selected list item */
  .videoList li.selected {
    background-color: #e0e0e0;
    font-weight: bold;
  }
  
  .playerContainer {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column; /* Align items in a column */
  }
  
  .playerWrapper {
    margin-left: 20px; /* Add margin to the left of the video player */
  }
  
  .reactPlayer {
    margin-top: 10px;
  }
  
  .description {
    margin-top: 20px;
    margin-left: 20px; /* Add margin to separate from video player */
    width: calc(100% - 40px); /* Subtract margin from total width */
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
  }
  