.ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}


.list-group-item,
:active {
  border: 1px solid rgb(211, 20, 20); /* Add a thin border to each list item */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f05050; /* Add a grey background color */
  padding: 12px; /* Add some padding */
  display: inline-block;
}
